CONTROL_PLANE_URL=https://control.financeiro.exemplo.com.br
DOMAIN_RECONCILIATION_TOKEN=SUBSTITUA_PELO_TOKEN_DO_ENV_DA_STACK
NGINX_INCLUDE_DIR=/etc/nginx/conf.d/argws-financial-tenants
ACME_WEBROOT=/var/www/letsencrypt
GATEWAY_UPSTREAM=http://127.0.0.1:8800
ACME_EMAIL=infra@exemplo.com.br
ACME_STAGING=false
CERTBOT_BIN=/usr/bin/certbot
NGINX_BIN=/usr/sbin/nginx
NGINX_RELOAD_COMMAND=systemctl reload nginx
